{
    "parser": "babel-eslint",
    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "block-scoped-var": "error",
        "brace-style": ["error", "1tbs"],
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": "error",
        "comma-style": "error",
        "curly": "error",
        "eol-last": ["error", "always"],
        "eqeqeq": "error",
        "func-call-spacing": "error",
        "indent": ["error", 4],
        "key-spacing": "error",
        "keyword-spacing": "error",
        "max-len": ["error", { "code": 120 }],
        "max-statements-per-line": "error",
        "multiline-ternary": ["error", "always"],
        "new-cap": ["error", {
            "capIsNewExceptions": ["DataTable"]
        }],
        "new-parens": "error",
        "no-alert": "error",
        "no-bitwise": "error",
        "no-catch-shadow": "error",
        "no-cond-assign": "error",
        "no-console": "error",
        "no-constant-condition": "error",
        "no-debugger": "error",
        "no-delete-var": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-extra-semi": "error",
        "no-fallthrough": "error",
        "no-irregular-whitespace": "error",
        "no-lonely-if": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": "error",
        "no-new-wrappers": "error",
        "no-octal": "error",
        "no-redeclare": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow": "error",
        "no-tabs": "error",
        "no-trailing-spaces": "error",
        "no-throw-literal": "error",
        "no-undefined": "error",
        "no-undef": "error",
        "no-unmodified-loop-condition": "error",
        "no-unneeded-ternary": "error",
        "no-unreachable": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": ["error", {
            "args": "none",
            "varsIgnorePattern": "baseUrl|httpPost|createUpdateTable|Login|login|showNotification"
        }],
        "no-use-before-define": ["error", { "functions": false }],
        "no-useless-call": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-warning-comments": "error",
        "object-curly-spacing": ["error", "always"],
        "padded-blocks": ["error", "never"],
        "quotes": ["error", "double"],
        "radix": "error",
        "semi": "error",
        "semi-spacing": "error",
        "space-before-blocks": ["error", "always"],
        "space-infix-ops": "error",
        "space-in-parens": ["error", "never"],
        "space-unary-ops": "error",
        "strict": ["error", "global"],
        "use-isnan": "error",
        "wrap-iife": ["error", "inside"]
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "mocha": true,
        "commonjs": true
    },
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
}
